h1 {
    font-size: 2em;
}

img {
size: 15px;
width: 350px;
padding: 15px;

}

section {
    margin: 50px;
    background-color: gray;
    border-radius: 10px;
    
}

section div{
    display: grid;
    grid-template-columns: 1fr 400px;

}