div{
    max-width: 1600px; 
    margin: 0 auto;
    align-items: center;
}

#background{
    height: 725px;
}
header, footer{
    background-color: #E7C9D8; 
    padding: 0rem;
}

header{
    padding: 0.5rem;
}

body {
    background-color: #fcfbfb; 
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon {
    width: 80px;
}

nav {
    text-decoration: none;
    background-color:  #E7C9D8;
    display: flex;
}    
.msg {
    background-color:  #E7C9D8;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    text-align: left; 
    color: #E7C24F;
}    

footer p a {
    color: #E7C24F;
}
header img {
    display: flex;
}

footer div a {
    display: flex;
}

#background{
    height: 725px;
    background-color: bisque;
}

#hero-box img{
width: 100%;
}

a {
    text-decoration: none;
}

p {
    display: flex;
}