div{
    max-width: 1600px; 
    margin: 0 auto;
    align-items: center;
}

#background{
    height: 725px;
}
header, footer{
    background-color: #E7C9D8; 
    padding: 0rem;
}

header{
    padding: 0.5rem;
}

body {
    background-color: #fcfbfb; 
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon {
    width: 80px;
}

nav {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    background-color:  #E7C24F;
}    
.msg {
    background-color:  #E7C9D8;
    text-align: center;
}

footer p  {
    font-size: 1.2em;
    text-decoration: underline;
    text-align: left; 
}    

header img {
    display: flex;
}

footer div a {
    display: flex;
}

#background{
    height: 725px;
    background-color: bisque;
}

#hero-box img{
width: 100%;
}

a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}